---
import HTMLIcon from "./Icon/HTMLIcon.astro";
import PythonIcon from "./Icon/PythonIcon.astro";
import PHPIcon from "./Icon/PHPIcon.astro";
import Bootstrap from "./Icon/Bootstrap.astro";
import JsIcon from "./Icon/JsIcon.astro";
import PreviewIcon from "./Icon/PreviewIcon.astro";
import GitIcon from "./Icon/GitIcon.astro";
import ProjectIcon from "./Icon/ProjectIcon.astro";

const { class: className } = Astro.props;

const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-[#f06529] text-white",
    icon: HTMLIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#306998] text-white",
    icon: PythonIcon,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#8892be] text-white",
    icon: PHPIcon,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#007bff] text-white",
    icon: Bootstrap,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#f0db4f] text-black",
    icon: JsIcon,
  },
};

const PROJECTS = [
{
    title: "Ciencia de Datos",
    description:"Actulamente trabajando en este proyecto....",
    link: "",
    github: "",
    image: "../public/data_scients.webp",
    tags: [TAGS.PYTHON],
  },
  {
    title: "Plataforma de generación de tickets",
    description:
      "Plataforma de generación de tickets para soporte. Permite a los usuarios generar tickets de soporte y a los administradores gestionarlos.",
    link: "",
    github: "",
    image: "../public/project.png",
    tags: [TAGS.HTML, TAGS.PYTHON, TAGS.PHP, TAGS.BOOTSTRAP, TAGS.JS],
  },
];
---

{
  PROJECTS.map((project) => (
      <div class="flex flex-col mt-10 p-4 rounded-lg bg-white dark:bg-black/50 shadow-xl hover:shadow-2xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        <article class="flex flex-col">
          <div class="flex flex-row justify-center w-full h-full">
            <img class="rounded-lg" src={project.image} alt={project.title} />
          </div>
          <div>
            <h3 class="mt-2 font-bold text-2xl text-blue-500">{project.title}</h3>
          </div>
          <div class="flex flex-wrap mt-2 tools">
            <ul class="flex flex-wrap gap-2 mb-2 gap-x-2">
              {project.tags.map((tag) => (
                <li>
                  <span
                    class={`flex justify-center items-center gap-x-2 rounded-full text-xs py-1 px-2  ${tag.class}`}
                  >
                    {typeof tag === "object" && <tag class="icon" /> ? (
                      <tag.icon class="size-6" />
                    ) : null}
                    {typeof tag === "object" ? tag.name : tag}
                  </span>
                </li>
              ))}
            </ul>
          </div>
          <div class="mt-2 text-gray-700 dark:text-gray-400">
            <p class="text-pretty">{project.description}</p>
          </div>
          <footer class="flex flex-row justify-center mt-4 gap-x-4">
            {
              project.link && (
                <div  class="flex w-30 justify-center items-center gap-x-2 mt-4 bg-black/10 p-2 rounded-lg py-2 px-4 hover:text-white hover:bg-black transition">
                  <PreviewIcon />
                  <a href={project.link} class="">Ver</a>
                </div>
              )
            }
            {
              project.github && (
                <div class="flex w-30 justify-center items-center gap-x-2 mt-4 bg-black/10 p-2 rounded-lg py-2 px-4 hover:text-white hover:bg-black transition">
                  <GitIcon />
                  <a href={project.github} class="">Código</a>
                </div>
              )
            }
          </footer>
        </article>
      </div>
  ))
}
